* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: none;
    list-style: none;
}

*:focus {
    outline: 0;
}

html,body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100%;
}

.chat-container {
    height: 100%;
    display: flex; /* container içindeki elementleri yan yana getiriyor */

}

.chat-container > .sidebar {
    width: 300px;
    min-width: 300px;
    background: #eee;
    display: flex;
    flex-direction: column;
}

.chat-container > .sidebar > .search {
    height: 50px;
    min-height: 50px;
    border-bottom: 1px solid #ddd;
    position: relative; /* bu elementin içinde kalmasını istiyorum */
    padding: 0 15px;
    display: flex;  /* elemanı ortalamak için */
    align-items: center; /* elemanı ortalamak için */
}

.chat-container > .sidebar > .search > input {
    width: 100%;
    height: 30px;
    background: #fff;
    border-radius: 30px;
    font-size: 14px;
    padding: 0 35px 0 15px;
}

.chat-container > .sidebar > .search > i {
    position: absolute; /* elemanı havada tutmak */
    top: 0;
    right: 0;
    width: 37px;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #999;
}

.chat-container > .sidebar > .contacts {
    overflow: auto;
}

.chat-container > .sidebar > .contacts > ul > li > a{
    display: flex;
    height: 60px;
    align-items: center;
    padding: 0 10px;
    overflow: hidden;
}

.chat-container > .sidebar > .contacts > ul > li > a:hover {
    background: #fff;
}

.chat-container > .sidebar > .contacts > ul > li > a > .notification {
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background: red;
    font-size: 11px;
    color: #fff;
    text-align: center;
    line-height: 17px;
    margin-left: auto; /* display flex kullnınca tam işe yarıyor */
}

.chat-container > .sidebar > .contacts > ul > li > a > .contacts-info > .contact-name{
    font-size: 15px;
    color: #333;
    font-weight: 500;
    margin-bottom: 3px;
}

.chat-container > .sidebar > .contacts > ul > li > a > .contacts-info > .contact-message{
    font-size: 13px;
    color: #999;
}
.chat-container > .sidebar > .contacts > ul > li > a > img{
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
}

.chat-container > .content {
    flex: 1; /* bu element kendine kalan alanı otomatik olarak dolduracak */
    border-left: 1px solid #ddd;
    display: flex;
    flex-direction: column;
}

.chat-container > .content > .message-header {
    height: 50px;
    min-height: 50px;
    align-items: center;
    padding: 0 7px 0 15px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between; /* içinde iki tane div olduğu için birini sağa diğerini sola attı */
}
.chat-container > .content > .message-header > .user-info {
    display: flex;
    align-items: center;
}

.chat-container > .content > .message-header > .user-info > img {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    margin-right: 10px;
}

.chat-container > .content > .message-header > .user-info > .user > .message-name {
    font-size: 15px;
    font-weight: 500;
    color: #222;
}

.chat-container > .content > .message-header > .user-info > .user > .time {
    font-size: 13px;
    color: #999;
}

.chat-container > .content > .message-header > .actions > ul {
    display: flex;
}

.chat-container > .content > .message-header > .actions > ul > li > a {
    font-size: 18px;
    color: #999;
    width: 32px;
    display: block;
    text-align: center;
}

.chat-container > .content > .message-header > .actions > ul > li > a:hover {
    color: #222;
}

.chat-container > .content > .message-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 15px;
    overflow: auto;
}

.chat-container > .content > .message-content > .empty {
    margin-bottom: auto; /* boş div en tepede gözükmeye çalışıyor mesaj geldikçe yukarıdan daralıyor */
}

.chat-container > .content > .message-content > .message {
    align-self: flex-start; /* kendi genişliği kadar kaldı */
    margin-bottom: 20px;
}

.chat-container > .content > .message-content > .message.me {
    align-self: flex-end;
}

.chat-container > .content > .message-content > .message.me > .time {
    text-align: right;
}

.chat-container > .content > .message-content > .message.me > .bubble {
    background: #29b6f6;
    color: #fff;
}

.chat-container > .content > .message-content > .message > .bubble {
    padding: 6px 12px;
    background: #f7f7f7;
    border-radius: 20px;
    font-size: 15px;
    margin-bottom: 5px;
}

.chat-container > .content > .message-content > .message > .time {
    font-size: 12px;
    color: #999;
}

.chat-container > .content > .message-form {
    border-top: 1px solid #ddd;
    background: #eee;
    padding: 10px;
}

.chat-container > .content > .message-form > ul {
    display: flex;
}

.chat-container > .content > .message-form > ul > li {
    margin: 0 5px;
}

.chat-container > .content > .message-form > ul > li.input {
    flex: 1; /* kalan tüm genişliği kapla */
}

.chat-container > .content > .message-form > ul > li.emoji-btn > a {
    background: #339af0;
}

.chat-container > .content > .message-form > ul > li.microphone-btn > a {
    background: #ff5722;
}

.chat-container > .content > .message-form > ul > li.image-btn > a {
    background: #4caf50;
}

.chat-container > .content > .message-form > ul > li > a {
    width: 36px;
    height: 36px;
    display: block;
    border-radius: 36px;
    background: #333;
    color: #fff;
    text-align: center;
    line-height: 36px;
}

.chat-container > .content > .message-form > ul > li.input > input {
    width: 100%;
    height: 36px;
    border: 1px solid #ddd;
    border-radius: 36px;
    font-size: 14px;
    padding: 0 15px;
    box-sizing: border-box; /* taşma olmasın diye yoksa toplamda 100% + 15 15 + 2px olacaktı */
}